.webcam {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.time {
  color: rgb(199, 0, 0);
  text-align: center;
  font-size: 2rem;
  position: absolute;
  top: 6%;
  right: 9%;
}
